In [11]:
import pandas as pd
df=pd.read_csv('final_news.csv')
df.head()

         Date                                               news
0  30-01-2020      Posers on wish to get Tata Dam water for dist
1  30-01-2020         Citizens gear up to wage another green war
2  29-01-2020  Tata Motors raises bar for rivals with killer ...
3  29-01-2020  Tata Motors raises bar for rivals with killer ...
4  29-01-2020               Sensex tanks 188 pts over Wuhan woes

In [12]:
keywords=['tata','ratan tata','tata motors','war','stock price','world war','stock market','tata motor','inflation','motors','automobile','jaguar','air india','airindia','titan watch','nifty','sensex','bse','nse','bombay stock exchange','national stock exchange','pandemic','nuclear war','New York Stock Exchange and Nasdaq','nyse','new york stock exchange','nasdaq']

In [14]:
df=df.drop(['web-scraper-order','web-scraper-start-url','Jan-href'],axis=1)

In [13]:
df

            Date                                               news
0     30-01-2020      Posers on wish to get Tata Dam water for dist
1     30-01-2020         Citizens gear up to wage another green war
2     29-01-2020  Tata Motors raises bar for rivals with killer ...
3     29-01-2020  Tata Motors raises bar for rivals with killer ...
4     29-01-2020               Sensex tanks 188 pts over Wuhan woes
...          ...                                                ...
7675  04-09-2023  DCM Fadnavis lays foundation stone for war mus...
7676  02-09-2023  August inflation to be high, will start easing...
7677  02-09-2023  Inflation will start easing in Sep, says RBI G...
7678  01-09-2023  Breathe! Delhi logs 2nd cleanest January-Augus...
7679  01-09-2023                    Bondada Engg gets listed on BSE

[7680 rows x 2 columns]

In [16]:
df['date'][100]

'31 Jan, 2023'

In [14]:
df.shape

(7680, 2)

In [16]:
l=df.shape[0] - 1
while l>=0:
    news= str(df['news'][l]).lower().split(" ")
    i=0
    for keyw in keywords:
        if keyw in news:
            # print(keyw)
            i=1
            break
    if i==0:
        # print(l)
        df.drop(index=[l],inplace=True)
    l-=1

In [17]:
df

            Date                                               news
0     30-01-2020      Posers on wish to get Tata Dam water for dist
1     30-01-2020         Citizens gear up to wage another green war
2     29-01-2020  Tata Motors raises bar for rivals with killer ...
3     29-01-2020  Tata Motors raises bar for rivals with killer ...
4     29-01-2020               Sensex tanks 188 pts over Wuhan woes
...          ...                                                ...
7674  05-09-2023  BSE mcap hits new high of ₹318L cr as sensex r...
7675  04-09-2023  DCM Fadnavis lays foundation stone for war mus...
7676  02-09-2023  August inflation to be high, will start easing...
7677  02-09-2023  Inflation will start easing in Sep, says RBI G...
7679  01-09-2023                    Bondada Engg gets listed on BSE

[4048 rows x 2 columns]

In [18]:
df.reset_index(drop=True, inplace=True)

In [19]:
df

            Date                                               news
0     30-01-2020      Posers on wish to get Tata Dam water for dist
1     30-01-2020         Citizens gear up to wage another green war
2     29-01-2020  Tata Motors raises bar for rivals with killer ...
3     29-01-2020  Tata Motors raises bar for rivals with killer ...
4     29-01-2020               Sensex tanks 188 pts over Wuhan woes
...          ...                                                ...
4043  05-09-2023  BSE mcap hits new high of ₹318L cr as sensex r...
4044  04-09-2023  DCM Fadnavis lays foundation stone for war mus...
4045  02-09-2023  August inflation to be high, will start easing...
4046  02-09-2023  Inflation will start easing in Sep, says RBI G...
4047  01-09-2023                    Bondada Engg gets listed on BSE

[4048 rows x 2 columns]

In [21]:
df['news'][20]

'Pune: Automobile company’s DGM duped of Rs 2.94 lakh in I-T refund fraud case'